.formControl.error input,
.formControl.error textarea {
    border: solid darkmagenta 2px;
}

.formControl.error span {
    color: darkmagenta;
}

.formSummaryError {
    border: solid darkmagenta 2px;
}