@media screen and (max-width: 600px) {
    .image {
        max-width: 600px;
        max-height: 300px;
    }

    .projectsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
        margin: 20px;
    }

    .card {
        max-width: 400px;
        height: auto;
    }
}

.frontPage {
    width: 110%;
    height: auto;
    padding: 0;
    margin: 0 0 40px -20px ;
    left: 0;
    right: 0;
}

.projectsContainer {
    padding-top: 30px;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
}

.card {
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 350px;
    min-width: 300px;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.card a {
    color: #000000;
}
